<%-include('../include/head.ejs', { pageTitle: '5000 - 718SNKRS' })%>

</head>

<body>
	<header>
		<%-include('../include/header.ejs')%>
	</header>

	<main>
		<h1>Something Went Wrong!</h1>
		<p>Unfortunately, something went wrong.</p>
		<p><a href="/" class="btn">Back Home</a></p>
	</main>


<%-include('../include/footer.ejs')%>
