<header id="mainHeader">
  <div id="logo"><a href="/">WDE</a></div>
  <nav>
		<%-include('../include/navItems.ejs') %> 
  </nav>
	<button id="mobileMenuBtn">
		<span></span><span></span><span></span>
	</button>
</header>

<aside id="mobileMenu">
	<nav>
		<%-include('../include/navItems.ejs') %> 
	</nav>
</aside>