<article class="productItem">
  <img src="<%= data.imageUrl %>" alt="<%= data.title %>" />
  <div class="productItemContent">
    <h2><%= data.title %></h2>
    <div class="productItemActions">
      <a class="btn btn-alt" href="/admin/products/update/<%= data.id %>">View & Edit</a>
      <button class="btn btn-alt">Delete</button>
    </div>
  </div>
</article> 