<%-include('../../include/head.ejs', { pageTitle: 'Your Order - 718SNKRS' })%>
<link rel="stylesheet" href="/styles/orders.css">
<!-- styles -->

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>718 Products</h1>
		<section>
			<section>
				<% if (userOrders.length>0) { %>
					<ol id="productGrid">
						<% for( const order of userOrders) { %>
								<%-include('../../include/orderItem.ejs', {order: order})%>
						<% } %>
					</ol>
				<% } else { %>
					<h2>NO ORDERS! PLACE ONE!</h2>
				<% } %> 
			</section>
		</section>
	
	</main>

<%-include('../../include/footer.ejs')%>
