
<%-include('../../include/head.ejs', { pageTitle: 'Your Order - 718SNKRS' })%>
<link rel="stylesheet" href="/styles/orders.css">
<!-- styles -->

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>718 Products</h1>
		<section>
			<h2>Success, order was placed.</h2>
		</section>
	
	</main>

<%-include('../../include/footer.ejs')%>
