<%-include('../../include/head.ejs', { pageTitle: 'All Products' })%>

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>718 ORDERS</h1>
		<section>
			<h2>Add Item</h2>
			<a href="/admin/products/new" class="btn">Add Product</a>
		</section>
		<section>
			<p>list of products</p>
		</section>
	</main>


<%-include('../../include/footer.ejs')%>
