<%-include('../../include/head.ejs', { pageTitle: 'All Products' })%>
<link rel="stylesheet" href="/styles/products.css">
</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>718 Admin</h1>
		<section>
			<% if (allProducts.length<=0) { %>
				<h2>No Items Currently! Add One:</h2>
				<% } %>
			<% if (allProducts.length>0) { %>
				<h2>Add Another Product:</h2>
			<% } %>
			<a href="/admin/products/new" class="btn">Add Product</a>
		</section>
		<section>
			<% if (allProducts.length>0) { %>
				<ul id="productGrid">
					<% for( const product of allProducts) { %>
						<li>
							<%-include('../../include/productItem.ejs', {data: product})%>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
	</main>


<%-include('../../include/footer.ejs')%>
<script src="/scripts/productManagement.js"></script>
