<%-include('../../include/head.ejs', { pageTitle: 'Add Product - Admin - 718SNKRS' })%>
<link rel="stylesheet" href="/styles/forms.css">

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>UPDATE Project</h1>
		<%- include('../../include/productForm.ejs', {submitPath: '/admin/products/new', imageRequired: true}) %> 
	</main>


<%-include('../../include/footer.ejs')%>
<script src="/scripts/imagePreview.js"></script>