<%-include('../../include/head.ejs', { pageTitle: 'Update Product - Admin - 718SNKRS' })%>
<link rel="stylesheet" href="/styles/forms.css">

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>Add New Project</h1>
		<%- include('../../include/productForm.ejs', {submitPath: '/admin/products/update/' + product.id, imageRequired: false }) %> <!-- + product.id --> 
	</main>


<%-include('../../include/footer.ejs')%>
<script src="/scripts/imagePreview.js"></script>